@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.destiDiv1H1{
    color: white;
    font-family: "Rubik";
    font-weight: 100;
    margin-top: 3%;
    margin-left: 13%;
    font-size: 25px;
}
.destiDiv1Span{
    color: gray;
    font-family: "Rubik";
    font-weight: 100;
    margin-right: 2%;
}
.divDesti{
    font-family: "Rubik";
    color: white;
    display: flex;
    font-weight: 100;
    align-items: center;
    margin-left: 13%;
}
.destiImg{
    width: 400px;
    height: 400px;
}
.destiDiv3Div1{
    display: flex;
    gap: 30Px;
}
.destiDiv3{
    margin-left: 15%;
    width: 35%;
}
.destiDiv3Div2H1{
    font-size: 110px;
    font-weight: 100;
    margin:0 ;
}
.destiDiv3Div1P{
    color: #D2D8F9;
    z-index: 1;
}
.destiDiv3Div2P{
    color: rgba(255, 250, 250, 0.73);
    margin-bottom:10% ;
    color: #D2D8F9;
}
.destiDiv3Div2{
    border-bottom: 1px solid gray;
}
.destiDiv3Div3H2{
    font-weight: 100;
    font-size: 15px;
    margin-top: 6%;
    margin-left: 55%;
    color: rgba(168, 167, 167, 0.804);
}
.destiDiv3Div3H1{
    font-weight: 100;
    margin-left: 55%;
    margin-top: 0;
    font-size: 25px;
}

.destiDiv3Div1 .link {
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 8px;
    color: white;
    margin-right: 20px; 
    transition: border-bottom 0.3s ease;
    z-index: 1;
}
.destiDiv3Div1 .link::after {
    content: '';
    position: absolute;
    top: 65%;
    left: 0;
    width: 0;
    height: 2px;
    color: white;
    background-color: white; 
    transition: width 0.3s ease;
    z-index: 1;
}
.destiDiv3Div1 .link.active::after {
    width: 100%;
}

@media (max-width:576px) {
    body{
        overflow-x: hidden;
    }
    .divDesti{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .destiDiv3{
        margin-left: auto;
        margin-right: auto;
    }
    .destiDiv3Div1{
        margin-left: -60%;
        margin-top: 10%;
    }
    .destiDiv3Div2{
        margin-left: -60%;
        margin-top: 10%;
        width: 200%;
    }
    .destiDiv3Div3{
        margin-right: 80%;
        margin-top: 10%;
        display: flex;
    }
    .destiDiv3Div2H1{
        font-size: 60px;
    }
    .destiDiv1{
        margin-top: 3%;
        font-size: 15px;
    }
    .destiImg{
        width: 200px;
        height: 200px;
    }   
    .destiDiv1H1{
        font-size: 20px;
    }
    
    

}
@media (min-width:577px) and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .divDesti{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .destiDiv3{
        margin-left: auto;
        margin-right: auto;
    }
    .destiDiv3Div1{
        margin-left: -40%;
        margin-top: 10%;
    }
    .destiDiv3Div2{
        margin-left: -40%;
        margin-top: 10%;
        width: 200%;
    }
    .destiDiv3Div3{
        margin-right: 80%;
        margin-top: 10%;
        display: flex;
    }
    .destiDiv3Div2H1{
        font-size: 60px;
    }
    .destiDiv1{
        margin-top: 3%;
        font-size: 15px;
    }
    .destiImg{
        width: 200px;
        height: 200px;
    }   
    .destiDiv1H1{
        font-size: 20px;
    }
}
@media (min-width:769px) and (max-width: 1090px) {
     body{
        overflow-x: hidden;
    }
    .divDesti{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .destiDiv3{
        margin-left: 10%;
        text-align: center;
    }
    .destiDiv3Div1{
        margin-left: -15%;
        margin-top: 10%;
    }
    .destiDiv3Div2{
        margin-left: -67%;
        margin-top: 10%;
        width: 200%;
    }
    .destiDiv3Div3{
        margin-right: 80%;
        margin-top: 10%;
        display: flex;
    }
    .destiDiv3Div2H1{
        font-size: 60px;
    }
    .destiDiv1{
        margin-top: 3%;
        font-size: 15px;
    }
    .destiImg{
        width: 300px;
        height: 300px;
    }   
    .destiDiv1H1{
        font-size: 20px;
    }
}


