@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.divNav{
    display: flex;
    color: white;
    padding-top: 3%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    position: relative;
}
.navDiv2{
    display: flex;
    gap: 60px;
    background-color: rgba(59, 58, 58, 0.295);
    padding: 20px 210px ;
    margin-left: 25%;
    
}
.navP{
    cursor: pointer;
    font-family: "Rubik";
    font-weight: 100;
    text-decoration: none;
    list-style: none;
    color: white;
}
.divNav::after{
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    top: 69%;
    left: 8%;
    width: 250px;
}
.link{
    text-decoration: none;
    color: white;
}
.link {
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: border-bottom 0.3s ease;
}


.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 135%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white; 
    transition: width 0.3s ease
}

.link.active::after {
    width: 100%;
}